{% include 'base.html.twig' %}

{% block body %}
{% for flashSuccess in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
{% endfor %}

<h1>Welcome, {{ app.user.username }}</h1>
{% endblock %}